extends _bootstrap

block content
  p
  +panel-primary("Keycloak Groups")

    div
      table.table.table-striped.table-hover
        thead
          tr: th Name
              th ID
              th Path
        tbody
          each group, i in groups
            tr
              td
                p #{group.name}
              td
                p #{group.id}
              td
                p #{group.path}
              td
                a(href='/groups/delete/' + group.id) Remove

  button.btn.btn-primary(data-toggle="modal",data-target="#createGroup") Create Group
  +modal("Create Group","createGroup")
    form(method='POST' action='/groups/create')
      div.form-group
        input#name.form-control(type='text', placeholder='Name' name='name')
      button.btn.btn-primary(type='submit') Create Group

