extends _bootstrap

block content
  img.className#IdName(src="http://2.bp.blogspot.com/-DdHoZ8fnppk/VtmFgjhIOyI/AAAAAAAATsQ/Yw-hPrM8OwI/s1600-r/keycloak_logo_600px.png" height="70" width="200")
  img.className#IdName(src="https://i.cloudup.com/zfY6lL7eFa-3000x3000.png" height="70" width="200")

  p Welcome to Keypress - Keycloak with Express.

  p This is a sample application to show how you can use Keycloak with Express to provide Authenticatio and Access Control with Keycloak in your Express Application.



