extends layout

block content
  h1= title
  img.className#IdName(src="http://2.bp.blogspot.com/-DdHoZ8fnppk/VtmFgjhIOyI/AAAAAAAATsQ/Yw-hPrM8OwI/s1600-r/keycloak_logo_600px.png" height="100" width="350")
  img.className#IdName(src="https://i.cloudup.com/zfY6lL7eFa-3000x3000.png" height="100" width="350")

  p Welcome to Keypress - Keycloak with Express.

  p This is a sample application to show how you can use Keycloak with Express to provide Authenticatio and Access Control with Keycloak in your Express Application.

  p Server Administration
  a(href='/users') Users
  br
  a(href='/groups') Groups
  br
  a(href='/roles') Roles
  br
  br
  br
  a(href='/logout') Logout


